.chart {
  font: 15px georgia;
  text-align: center;
}

#mexico-fdi .axis path,
#mexico-fdi .axis line {
  fill: none;
  stroke: #424949;  /*grey*/
  shape-rendering: crispEdges;
}
#mexico-fdi .line {
  fill: none;
  stroke: #34495E;
  stroke-width: 2.5px;
}
#mexico-fdi .focus circle {
  fill: #2E4053;
  stroke: #2E4053;
}
#mexico-fdi .overlay {
  fill: none;
  pointer-events: all;
}


#mexico-gdp .axis path,
#mexico-gdp .axis line {
  fill: none;
  stroke: #424949;  /*grey*/
  shape-rendering: crispEdges;
}
#mexico-gdp .line {
  fill: none;
  stroke: #138D75;
  stroke-width: 2.5px;
}
#mexico-gdp .focus circle {
  fill: #0B5345;
  stroke: #0B5345;
}
#mexico-gdp .overlay {
  fill: none;
  pointer-events: all;
}
